<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.zongen.mooncakes-dashboard-update</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/zongen/Library/Application Support/MooncakesDashboard/update-daily.sh</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/Users/zongen</string>
    <key>MOONCAKES_DASHBOARD_REPO_DIR</key>
    <string>/Users/zongen/Library/Application Support/MooncakesDashboard/repo</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Users/zongen/Library/Logs/mooncakes-dashboard-update.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/zongen/Library/Logs/mooncakes-dashboard-update.error.log</string>
</dict>
</plist>
